@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Capacitaciones</h5>
        <p class="card-text">Capacitación laboral se basa en habilidades, métodos de trabajo y herramientas orientados a fomentar el desarrollo del empleado.</p>
        <a href="@Url.Action("Index", "capacitaciones")" class="btn btn-primary">Registrar</a>
    </div>
</div>

